@import "../../scss/variables", "../../scss/mixins";
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: $cardNavBgColor;
  //   gap: 1.2rem;
  a {
    font-size: 2rem;
    padding: 1rem 0;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: $backgroundColor;
      color: $cardNavBgColor;
      font-weight: 600;
    }
  }
}

@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
    a {
      padding: 0.3rem;
      &:last-child {
        &:hover {
          // border-bottom: 3px solid black;
          box-shadow: 1px 1px 5px 1px $shadowColor;
        }
      }
    }
  }
}

@include media-sm {
  .navbar {
    flex-direction: row;
    a {
      padding: 1.5rem 0;
      &:last-child {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

@include media-md {
  .navbar {
    a {
      font-size: 2.5rem;
    }
  }
}
