// !=========================================================
// !                    VARIABLES
// !=========================================================

$backgroundColor: #ace0f9;
$cardNavBgColor: #171b20;
$shadowColor: rgba(0, 0, 0, 0.5);
